<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Target marketing customer filter: predicting whether the client will buy termed deposit product </h1>

 <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
	<input style="width:500px" type="text" name="emp.var.rate" placeholder="Socioeconomic index: employment variation rate of Portugal in percentage" required="required" />
      <input style="width:500px" type="text" name="cons.price.idx" placeholder="Socioeconomic index: consumer price index of Portugal" required="required" />
	<input style="width:500px" type="text" name="cons.conf.idx" placeholder="Socioeconomic index: consumer confidence index of Portugal" required="required" />
	<input style="width:500px" type="text" name="euribor3m rate" placeholder="Socioeconomic index: euribor3m rate in percentage" required="required" />
	<input style="width:500px" type="text" name="nr.employed" placeholder="Socioeconomic index: number of employees for the bank" required="required" />
	<input style="width:1500px" type="text" name="Job" placeholder="Job: administrative/blue-collar/entrepreneur/housemaid/management/retired/self-employed/services/student/technician/unemployed/unknown" required="required" />
	<input style="width:400px" type="text" name="Marital" placeholder="Marital status (married/single/devoiced/unknown)" required="required" />
	<input style="width:1500px" type="text" name="Education" placeholder="Education: basic four year/basic six year/basic nine year/high school/professional course/university degree/illiterate/unknown " required="required" />
	<input style="width:400px" type="text" name="Default" placeholder="Does the client have credit in default (yes/no/unknown)" required="required" />
	<input style="width:400px" type="text" name="Housing" placeholder="Does the client have housing loan?(yes/no/unknown)" required="required" />
	<input style="width:400px" type="text" name="Loan" placeholder="Does the client have personal loan?(yes/no/unknown)" required="required" />
	<input style="width:300px" type="text" name="Contact" placeholder="Way of contact (cellphone or telephone)" required="required" />
	<input style="width:500px" type="text" name="Month" placeholder="Month of year when contact takes place (first three letters, from March to December)" required="required" />
	<input style="width:500px" type="text" name="Day" placeholder="Particular workday when contact takes place(first three letters, from Monday to Friday)" required="required" />
	<input style="width:500px" type="text" name="Contacted in last campaign" placeholder="Did our bank reach out to this client in last campaign?(yes/no)" required="required" />
	<input style="width:600px" type="text" name="Previous outcome" placeholder="What's the previous marketing outcome toward this client? (Success/Failure/No outcome)" required="required" />
	<input style="width:200px" type="text" name="Age" placeholder="What is the client's age" required="required" />
	<input style="width:500px" type="text" name="Contact in this campaign" placeholder="How many times did the bank contact this client in this campaign?" required="required" />
	<input style="width:800px" type="text" name="Contact prior to this campaign" placeholder="How many times did the bank contact this client before this campaign? (Including all campaigns before this one)" required="required" />
	<input style="width:1500px" type="text" name="pdays" placeholder="Number of days from the client was last contacted from the previous campaign to the latest campaign (0 is net contacted in the previous campaign)" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>
 <img src="/static/images/Original.svg" style="width: 400px;position: absolute;bottom: 10px;left: 10px;" alt="Company Logo"/>

</body>
</html>
